<div class="terms-container">

  <h2>
    Forgot password
  </h2>

  <form [formGroup]="forgotPasswordForm" class="forgot-password">
    <mat-card>

      <mat-card-content>

        <mat-form-field>
          <mat-label>Email: </mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Your email">

          <mat-error *ngIf="forgotPasswordForm.hasError('required')">
            This field is required.
          </mat-error>

          <mat-error *ngIf="!forgotPasswordForm.hasError('required') && forgotPasswordForm.hasError('email')">
            Enter a valid email.
          </mat-error>

        </mat-form-field>

        <br/>

        <button
          mat-raised-button
          color="accent"
          (click)="forgotPasswordSendForm()">
          OK!
        </button>

      </mat-card-content>

    </mat-card>
  </form>

</div>
