<div class="login-container">

  <h2>
    Welcome!
  </h2>

  <mat-card>
    <mat-card-content>

      <h3>
        How it works?
      </h3>

      <p>

        We are starting with filling the relevant info about pet’s breed, medical conditions, and food preferences.

        After this you can just scan the bar code of a pet’s food an algorithm will tell if the food is healthy and whether the pet will like it.

        That's all folks!

      </p>

      <br>

      <a routerLink="/createPetAccount">Create pet's account</a>

    </mat-card-content>
  </mat-card>

</div>
