<div class="create-account-container">

  <h2>
    Create Pet's account
  </h2>

  <mat-card>

    <mat-card-content>
      <mat-vertical-stepper #stepper>

        <mat-step [stepControl]="basicPetDataGroup">
          <form [formGroup]="basicPetDataGroup" class="form">
              <ng-template matStepLabel>Fill basic info</ng-template>
              <mat-form-field>
                <mat-label>Pet's name</mat-label>
                <input
                  matInput
                  placeholder="Pet's name"
                  formControlName="petName">
              </mat-form-field>
              <br/>
              <mat-form-field>
                <mat-label>Pet's age</mat-label>
                <mat-select
                  name="age"
                  formControlName="petAge">
                  <mat-option *ngFor="let age of ages" [value]="age.getValue()">
                    {{ age.getDisplayValue() }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="specificPetDataGroup">
          <form [formGroup]="specificPetDataGroup" class="form">
              <ng-template matStepLabel>Fill specific info</ng-template>

              <mat-form-field>
                <mat-label>Pet's species</mat-label>
                <mat-select
                  name="species"
                  formControlName="petSpecies"
                  (selectionChange)="changeSpecies($event)">
                  <mat-option *ngFor="let spec of species" [value]="spec.getValue()">
                    {{ spec.getDisplayValue() }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field *ngIf="speciesSelected">
                <mat-label>Pet's breed</mat-label>
                <mat-select
                  name="breed"
                  formControlName="petBreed">
                  <mat-option *ngFor="let breed of breedsFiltered" [value]="breed.getSpecies().getValue()">
                    {{ breed.getBreedName() }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field>
                <mat-label>Pet's sex</mat-label>
                <mat-select
                  name="sex"
                  formControlName="petSex">
                  <mat-option *ngFor="let sex of sexes" [value]="sex.getValue()">
                    {{ sex.getDisplayValue() }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>Great. You can submit the form!</p>
          <button
            mat-raised-button color="accent"
            (click)="sendPetData()">
              OK!
          </button>
          <div>

          </div>
        </mat-step>

      </mat-vertical-stepper>
    </mat-card-content>

  </mat-card>

</div>
