<mat-toolbar color="primary" class="upper-toolbars">
  <div class="upper-toolbars-logo">
    <h1>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <span class="material-icons">menu</span>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span class="material-icons">account_circle</span>
          User account
        </button>
        <button mat-menu-item>
          <span class="material-icons">pets</span>
          Pet account
        </button>
        <button mat-menu-item>
          <span class="material-icons">linked_camera</span>
          Scan products
        </button>
        <button mat-menu-item>
          <span class="material-icons">highlight_off</span>
          Logout
        </button>
      </mat-menu>

      FoodPet
    </h1>
  </div>

  <div class="upper-toolbars-language">
    <p>
      <span (click)="changeLanguage('en')">EN</span>
      |
      <span (click)="changeLanguage('pl')">PL</span>
    </p>
  </div>
</mat-toolbar>
