<mat-toolbar color="primary" class="upper-toolbars">
  <div class="upper-toolbars-logo">
    <h1>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <span class="material-icons">menu</span>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu">
          <a routerLink="/begin">
            <span class="material-icons">account_circle</span>
            <span class="text-next-to-icon">Start</span>
          </a>
        </button>
        <button mat-menu-item class="menu">
          <a routerLink="/pet">
            <span class="material-icons">pets</span>
            <span class="text-next-to-icon">Pet</span>
          </a>
        </button>
        <button mat-menu-item class="menu">
          <a routerLink="/scan">
            <span class="material-icons">linked_camera</span>
            <span class="text-next-to-icon">Scan</span>
          </a>
        </button>
        <button mat-menu-item class="menu">
          <a routerLink="/logout">
            <span class="material-icons">highlight_off</span>
            <span class="text-next-to-icon">Logout</span>
          </a>
        </button>
      </mat-menu>

      FoodPet

    </h1>
  </div>

  <div class="upper-toolbars-language">
    <p>
      <span (click)="changeLanguage('en')">EN</span>
      |
      <span (click)="changeLanguage('pl')">PL</span>
    </p>
  </div>
</mat-toolbar>
