:root {
  --background-color: #8BC34A;
  --upper-component: #8BC34A;
  --background-component: #ffffff;
  --white-text: #ffffff;
  --accent: #FFC107;
  --black-text: #000000;
  --grey: #e2e2e2;
}

body {
  background-color: var(--background-color);
  margin: 0;
}

a {
  color: var(--black-text);
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: var(--black-text);
  text-decoration: none;
  font-weight: 800;
}

.material-icons {
  top: -40px;
}

.mat-card {
  border-width: 2px;
  border-style: solid;
  border-color: var(--grey);
}

@media (max-width: 650px) {
  .mat-card {
    border: 0px solid var(--grey);
    box-shadow: none !important;
  }
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: var(--accent);
}

.mat-toolbar.mat-primary {
  background-color: var(--upper-component);
  position: sticky;
  top: 0;
  z-index: 2;
}

.text-next-to-icon {
  position: relative;
  top: -5px;
  left: 5px;
}

.upper-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upper-toolbars-logo {
  flex: 1;
}

.upper-toolbars-language {
  float: right;
  flex: auto;
}

.upper-toolbars-language > p {
  float: right;
}

.upper-toolbars-language > p > span:hover {
  font-weight: 400;
  cursor: pointer;
}

.footer {
  color: var(--white-text);
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.footer-year {
  flex: 1;
}

.footer-legal {
  float: right;
  flex: auto;
}

.footer-legal > p {
  float: right;
}

.footer-text {
  font-weight: 550;
}

.begin-container {
  background-color: var(--background-component);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-container {
  background-color: var(--background-component);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-account-container {
  width: 100%;
  background-color: var(--background-component);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.create-account-password {
  text-align: left;
}

.create-account-password-ul {
  color: var(--upper-component);
}

.pet-container {
  background-color: var(--background-component);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pet-image {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}

.pet-bio {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.pet-bio-item {
  text-align: left;
}

.pet-bio-item:nth-of-type(2) {
  padding-left: 10px;
}

.pet-bio-ul {
  text-align: left;
}

.terms-container {
  background-color: var(--background-component);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: white;
  font-weight: 800;
}
